<h1>Registation</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_for(resource, as: resource_name, url: user_registration_path ,:html => { :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">

      <%= f.label :username %>
      <%= f.text_field :username , class: 'form-control'%>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true ,class: 'form-control'%>
  </div>

 <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location , class: 'form-control'%>
  </div>

  <%= f.label "Profile" %>
  
      <%= f.file_field :avatar ,class: 'form-control'%>



  <div class="field">
    <%= f.label :password %>
    <%  if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" ,class: 'form-control'%>
  </div>

  <div  class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
 


  </div>
<% end %>



<%= render "devise/shared/links" %>
  </div>
</div>