


<h1>All users</h1>
<% if @user.count != 0 %>
	<%= @user.each do |u| %>

		 
				<%= u.username %>
		    	 <%= u.email %>
			<%= link_to 'view',home_path(u.username) %>
        		
         <br/><br/><br/>
 	<% end %>
<% else %>
	Sorry ,no such records exists
<% end %>