<h1>Search</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= search_form_for @q , url: home_index_path do |f| %>
     
		<%= f.search_field :username_or_email_or_location_cont, placeholder: "Username Email Location",class: 'form-control' %>
  		<%= f.submit  "Search", class: "btn btn-primary" %>
    	<% end %>
    <p>New User  <%= link_to "Registation!", new_user_registration_path %></p>
  </div>
</div>
