 <% if user_signed_in? %>
  		 <%= image_tag @user.avatar ,:size => "80x80" %>
   <% end %>
   <%= @user.username %>
   <%= @user.email %>
   <%= @user.location %>
   <% if user_signed_in?  %>  		
  		<section class="stats">
            <%= render 'shared/stats' %>
 	    </section>
 	    <%= render 'shared/follow_form'  %>
           Albums List<br/><br/>

        <% if @album.count != 0 %>
		    <%= @album.each do |u| %>
			    <%= u.album_name %>
        		<%= link_to 'view',album_path(u.id) %>
			    <br/><br/><br/>
 		    <% end %>
		<% else %>
				Sorry ,no such records exists
		<% end %>
        <br/>
 friend list
 <br/><br/>

	    <% if @friend.count != 0 %>
			<%= @friend.each do |u| %>
		     	<%= u.username %>
			    <br/><br/><br/>
 	    	<% end %>
    	<% else %>
				Sorry ,no such records exists
     	<% end %>
        <br/><br/>
friend list albums(visibility =friend)
<br/><br/> 
    	<% if @friend_album.count != 0 %>
			<%= @friend_album.each do |u| %>
			    <%= u.album_name %>
        		<%= link_to 'view',album_path(u.id) %>
			    <br/><br/><br/>
 	    	<% end %>
	    <% else %>
				Sorry ,no such records exists
	    <% end %>

  <% end %>
 