 <h1>All Albums</h1>
        	<%= link_to 'Add new Albums',new_album_path %>
 <br/><br/>
<% if @album.count != 0 %>
	<%= @album.each do |u| %>
		<%= u.album_name %>

        	<%= link_to 'view',album_path(u.id) %>
        
		 <br/><br/><br/>
 	<% end %>
<% else %>
	Sorry ,no such records exists
<% end %>

