<h1>Albums </h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= nested_form_for  @album ,:url => albums_path, :html => { :multipart => true }  do |f| %>
    
    <%= f.label :album_name %>
      <%= f.text_field :album_name , class: 'form-control'%>

      <%= f.label :visibility %>  
      <%= f.select :visibility, options_for_select([ "public","private","friend" ]),class: 'form-control'%>

      <%= f.fields_for :images do |u| %>
          <%= f.label "Profile" %>
          <%= u.file_field :avatar %>  
        <%= u.link_to_remove "Remove this image" %>
      <% end %>
       <p><%= f.link_to_add "Add a images", :images %></p>

      <%= f.submit "Create", class: "btn btn-primary" %>
     <% end %>
  </div>
</div>

