<h2>Log in</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true ,class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" ,class: 'form-control'%>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
           <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
 
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in",class: "btn btn-primary" %>
  </div>
 
<% end %>

<%= render "devise/shared/links" %>
 </div>
</div>

