<!DOCTYPE html>
<html>
<head>
  <title>Devisedemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
   <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <div class="container">
  
      <%= yield %>
      <%= render 'layouts/footer' %>

</body>
</html>
